* {
    margin: 0;
	padding: 0;
	border: 0;
}

body{
    background-image: url("/public/images/9030.png")!important;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    }

.header-main h1{
    font-size: 64px;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 0.8em;
}
.header-body{
    text-align: center;
}

.input_hive{
    outline: none;
    border: solid 2px #ccc;
    padding: 9px 10px 9px 32px;
    width: 300px;
    
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-border-radius: 10em;

    font-size: 100%;
}


.input_hive:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}


.user_div{
    position: relative;
    margin: 20px;
}

.user_div i{
    position: absolute;
    padding-top: 10px;
    padding-left: 10px;
    font-size:20px;
}

.btn{   
  font-size: 13px;
  color: #FFF;
  background: rgb(35, 173, 207);
  font-weight: bold;
  border-radius: 40px;
  transition: all 0.5s ease 0.1s;
  width: 150px;
  height: 40px;
  outline: none;
  cursor: pointer;
  margin: 10px;
}

.btn:hover {
    color: rgb(224, 224, 224);
    background: rgb(204, 95, 141);
}

.danger{
    font-size: 4em;
    color: red!important;
}

.suggest{
    text-decoration: none;
    color: rgb(115, 243, 11);
}

.suggest:hover{
    text-decoration: none;
    color: rgb(243, 11, 185);
}